/* CSS Header and Footer */
/* .header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10000;
}

.footer {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10000;
} */
.btn {
    position: fixed;
    bottom: 120px;
    right: 55px;
    background-color: rgba(81, 81, 84, 0.4);
    width: 50px;
    height: 50px;
    z-index: 1000;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: all 0.3s linear;
    animation: fadeIn 0.3s linear;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.btn:active {
    border-color: #eee;
}

.btn:active .btnIcon {
    color: #eee;
}

.btnIcon {
    width: 24px !important;
    height: 24px !important;
    color: #fff;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .btn {
        bottom: 60px;
        right: 40px;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .btn {
        bottom: 120px;
        right: 20px;
    }
}
